.form {
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field {
    width: calc(100% - 95px);
    padding: 4px;
    color: black;
    border-color: black;
    border-radius: 0;
}

.add {
    color: white;
    font-weight: bold;
    background: green;
    border: none;
    box-shadow: none;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    min-width: 80px;
}